.statistics{
    background-color: #fff;
}
.title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.2;
    text-transform: uppercase;
    color:darkgray;
    background-color: #fff;
    margin: 0;
    padding: 28px;
    text-align: center;
}
.stat-list {
    display: flex;
    background-color: #fff;
}
.item {
    width: 72px;
    padding: 12px 0;
    background-color: lightskyblue;
    color: white;
}
.label {
    display: block;
    margin: auto;
    margin-bottom: 4px;
    font-size: 16px;
    text-align: center;
}
.percentage {
    display: block;
    font-size: 24px;
    text-align: center;
}